:root {
    --bg-level-1: #303030;
    --bg-level-2: #282828;
    --color: #f4f4f4;
    --primary: #1effbc;
    --success: #538436;
    --error: #8c3131;
    --note-color: #9a9a9a;

    --radius: 6px;
    
    --unit-s: 8px;
    --unit-m: 16px;
    --unit-l: 32px;

    --tag-bg: #417257;
    --btn-hover: rgba(255, 255, 255, 0.07);
}

html, body {
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
}

body {
    background-color: var(--bg-level-1);
    color: var(--color);
    font-family: "Arial";
}

h1, h2 {
    margin: 0px;
}

input {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-level-1);
    border: 1px solid var(--color);
    padding: var(--unit-s) var(--unit-m);
    border-radius: var(--radius);
    color: var(--color);
}

input:focus {
    border-color: var(--primary);
}

.container {
    max-width: none;
    margin: auto;
    padding: var(--unit-m) var(--unit-s);
}

.left-s {
    margin-left: var(--unit-s);
}

.left-m {
    margin-left: var(--unit-m);
}

.right-s {
    margin-right: var(--unit-s);
}

.right-m {
    margin-right: var(--unit-m);
}

.top-s {
    margin-top: var(--unit-s);
}

.top-m {
    margin-top: var(--unit-m);
}

.top-l {
    margin-top: var(--unit-l);
}

.list {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: var(--bg-level-2);
    padding: var(--unit-m);
    border-radius: var(--radius);
}

.flexbox {
    display: flex;
}

.flex {
    flex: 1 0 auto;
}

.flexbox--row {
    flex-direction: row;
}

.flexbox--column {
    flex-direction: column;
}

.flexbox--wrap {
    flex-wrap: wrap;
}

.align--center {
    justify-content: center;
}

.align--right {
    justify-content: right;
}

.align--middle {
    align-items: center;
}

.list__item {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-level-2);
    border-radius: var(--radius);
    margin-top: var(--unit-s);
}

.list__item:first-of-type {
    margin-top: 0px;
}

.list__item__title {
    padding: var(--unit-m);
}

.list__item__name {
    flex: 1 0 auto;
}

.list__item__note {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px var(--unit-m) var(--unit-m) var(--unit-m);
    color: var(--note-color);
}

.tag {
    background-color: var(--tag-bg);
    padding: 4px var(--unit-s);
    border-radius: var(--radius);
    opacity: 1;
    font-size: 0.8em;
}

a.btn {
    text-decoration: none;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
    background-color: transparent;
    padding: var(--unit-s) var(--unit-m);
    font-size: 1rem;
}

.btn--primary {
    color: var(--primary);
}

.btn--secondary {
    color: var(--color);
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    transform: scale(0.92);
}

.form__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--unit-s) 0px;
}

.form__label {
    width: 140px;
}

.form__input {
    flex: 1 0 auto;
}

.alert {
    padding: var(--unit-s) var(--unit-m);
    border-radius: var(--radius);
}

.alert--success {
    background-color: var(--success);
}

.alert--error {
    background-color: var(--error);
}

@media (min-width: 960px) { 
    .container {
        max-width: 600px;
    }
}